@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --color-primary: rgb(255, 55, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.light {
  color: black;
  background: white;
}

a {
  text-decoration: none;
  color: white;
}

header,
main {
  width: 100%;
  margin: 0 auto;
}

/* Header section */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header #main-header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
}

header #main-header .navbar-brand {
  font-family: 'Permanent Marker';
  font-size: 28px;
}

#main-header .left .toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

#main-header .left .toggle span {
  width: 100%;
  height: 4px;
  background-color: white;
}

header #main-header .left {
  display: flex;
  align-items: center;
}

header #main-header .left form {
  display: none;
  align-items: center;
  background: #17151b;
  border: 1px solid #23202a;
  border-radius: 3px;
  padding: 12px;
  margin-left: 20px;
  width: 100%;
  justify-content: space-between;
}

header #main-header .left input {
  color: #fff;
  background-color: #17151b;
  background-image: none;
  border: none; 
  flex-grow: 1;
  margin-right: 10px;
}

header #main-header .left form.show {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 100%;
}

header #main-header .left input:focus {
  outline: none;
}
header #main-header .left input::-webkit-input-placeholder {
  color: white;
}

header #main-header .right {
  justify-content: end;
  display: flex;
  align-items: center;
}

header #main-header .right .themes {
  background: #222;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  position: relative;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 7px;
}

header #main-header .right .themes i {
  width: 20px;
  position: absolute;
  color: white;
}

.themes i.fa-moon {
  left: 1;
}
.themes i.fa-sun {
  right: 0;
}

header #main-header .right .themes button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  border: none;
  left: 0;
  transition: 0.2s;
}

header #main-header .right .themes.light button {
  transform: translateX(26px);
}

header #main-header .right i.fa-search {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: white;
}

#main-header .right .btn-donate {
  padding: 6px 12px;
  background: var(--color-primary);
  border-radius: 5px;
}

header .nav-menu {
  display: none;
}

header .nav-menu ul .nav-item {
  list-style: none;
  padding: 12px 20px;
  cursor: pointer;
}

header .nav-menu > ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-menu.show {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(28, 28, 28, 0.95);
}

header .nav-menu.show > ul {
  display: flex;
  flex-direction: column;
}

.nav-menu.show > ul li.nav-item:hover {
  background: var(--color-primary);
}

/* css dropdown */
.dropdown {
  position: relative;
}

.dropdown ul li {
  list-style: none;
  padding: 12px 20px;
}

.dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown.show {
  background: var(--color-primary);
}

.dropdown.show .dropdown-menu {
  display: block;
}

/* MAIN section */
main {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

main #content {
  width: 100%;
}

main #content article section {
  overflow: hidden;
  margin: 20px 0;
}

main #content article section h3 {
  background: var(--color-primary);
  padding: 6px 20px;
  font-size: 18px;
  color: white;
}

main #content article section .list-content {
  display: flex;
  padding: 20px 5px;
  background: #222;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

body.light main #content article section .list-content {
  background: white;
}

main #content article section .list-content .poster {
  height: 285px;
  width: 45%;
  margin: 20px 5px;
}

main #content article section .list-content .cover {
  overflow: hidden;
  position: relative;
  height: 255px;
  border-radius: 10px;
  margin-bottom: 5px;
}

main .list-content .cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.15s;
}

main .list-content .poster a:hover img {
  transform: scale(1.08);
}

main #content .list-content .poster a:hover .title {
  color: red;
}

main .list-content .cover .type {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  z-index: 1;
  background: var(--color-primary);
  font-size: 12px;
  padding: 5px 10px;
}

main .list-content .cover .eps {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 10px 0 0;
  z-index: 1;
  background: var(--color-primary);
  font-size: 12px;
  padding: 5px 10px;
}

main .list-content .cover .sub {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  z-index: 1;
  background: #ffa000;
  font-size: 12px;
  padding: 5px 10px;
}

main .list-content .poster .title {
  text-align: center;
  font-size: 14px;
}

body.light main .list-content .poster .title {
  color: black;
}

main aside {
  width: 100%;
  overflow: hidden;
}

main aside > div {
  margin: 20px 0;
}

main aside > div {
  background: #222;
}

body.light main aside > div {
  background: white;
}

main aside .profile-author .detail-author {
  text-align: center;
  padding: 20px;
}

main aside h3 {
  background: var(--color-primary);
  padding: 6px 20px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

main aside img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
}

main aside p {
  font-size: 14px;
  margin: 20px 0px;
}

main aside .detail-author .sosmed a {
  margin: 0 5px;
  font-size: 25px;
}

body.light main aside .detail-author .sosmed a {
  color: black;
}

main aside .list-genres {
  padding: 10px 20px;
}

main aside .list-genres table {
  width: 100%;
}

.list-genres table td {
  padding: 10px 0;
  font-size: 12px;
}

body.light .list-genres table td a {
  color: black;
}

aside .list-genres table td:hover a {
  color: var(--color-primary);
}

/* Footer section */
footer {
  background: #222;
  text-align: center;
  padding: 30px;
  font-size: 12px;
  color: white;
}

/* Media Query */

@media screen and (min-width: 500px) {
  main #content article section h3 {
    font-size: 20px;
  }

  main #content article section .list-content a .title {
    font-size: 16px;
  }

  main #content article section .list-content .poster {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  header,
  main {
    max-width: 768px;
  }

  #main-header .left .toggle {
    display: none;
  }

  header #main-header .left form  {
    display: flex;
    width: 400px;
  }

  header #main-header .left form.show {
    position: static;
  }

  header #main-header .left form i.fa-times {
    display: none;
  }

  header #main-header .right i.fa-search {
    display: none;
  }

  header #main-header {
    background-color: black;
  }

  header #main-header .right .themes {
    margin: 0 20px;
  }

  header .nav-menu {
    background-color: var(--color-primary) !important;
    display: block;
  }

  .nav-menu.show > ul li.nav-item:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  header .nav-menu.show {
    height: fit-content;
    position: static;
  }

  header .nav-menu > ul {
    display: flex;
  }

  header .nav-menu.show > ul {
    flex-direction: row;
  }

  /* dropdown */
  .dropdown .dropdown-menu {
    display: block;
    width: 300px;
    position: absolute;
    background: var(--color-primary);
    left: 0;
    visibility: hidden;
    transition: 0.1s;
    opacity: 0;
    border-radius: 5px;
  }

  .dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
  }

  main #content article section {
    border-radius: 5px;
  }

  main #content article section .list-content .poster {
    width: 20%;
  }

  main #content article section .list-content .poster .cover {
    height: 240px;
  }

  main aside h3 {
    border-radius: 5px 5px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  header,
  main {
    max-width: 1024px;
  }

  main {
    flex-direction: row;
  }

  main #content {
    width: 70%;
  }

  main aside {
    width: 30%;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  header,
  main {
    max-width: 1280px;
  }

  main #content article section .list-content {
    padding: 10px;
  }

  .list-genres table td {
    font-size: 16px;
  }
}
